{% style %}
  .tank2-button {
    background-color: {{ background-color }};
    color: {{ text-color }};
    text-decoration: none;
    padding: 12px 24px;
    margin-top: 50px;
    text-transform: uppercase;
  }
{% endstyle %}

<a href="{{ link }}" class="tank2-button">
    {{ text }}
</a>