{% style %}
  


{% endstyle %}

<div>
    <h1>{{ section.settings.header-title-text }}</h1>
</div>

{% schema %}
{
    "name": "Test Header",
    "class": "test-header",
    "settings": [
        {
            "type": "text",
            "id": "header-title-text",
            "default": "Welcome to Our Website",
            "label": "Header Title"
        },
        {
            "type": "image_picker",
            "id": "header-background-image",
            "label": "Header Background Image"
        }
    ],
    "presets": [
        {
            "name": "Test Header"
        }
    ]
}
{% endschema %}