{% style %}
  


{% endstyle %}

<div>
    <h1>This is a test header</h1>
</div>

{% schema %}
{
    "name": "Test Header",
    "class": "test-header",
    "settings": [
        {
            "type": "text",
            "id": "header-title-text",
            "default": "Welcome to Our Website",
            "label": "Header Title"
        }
    ],
    "presets": [
        {
            "name": "t:sections.test-header.presets.name",
            "settings": {
                "title": "t:sections.test-header.presets.name.settings.title"
            }
        }
    ]
}
{% endschema %}